@import '~sass-mq/_mq.scss';

.eksi-sozluk {
  @include mq($until: tablet) {
    padding: 0 1rem;
  }

  line-height: 1.5;

  li {
    display: flex;
    justify-content: space-between;

    &:before {
      //content: '⚫';
      //margin-right: 0.5rem;
    }
  }
}
