@import '~sass-mq/_mq.scss';
@import '../../styles/_colors.scss';

.ddtc {
  $columns: 2;
  $space-half: 0.5rem;
  $space: 1rem;

  @include mq($from: tablet) {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: auto;
  }

  margin-left: $space;
  margin-bottom: 2rem;
  width: 80%;

  & > *:not(:last-child) {
    @include mq($from: tablet) {
      margin-bottom: 0;
    }

    margin-bottom: $space;
  }

  &__columnA,
  &__columnB {
    @include mq($from: tablet) {
      width: calc(1/#{$columns}*100% - (1 - 1/#{$columns})*1rem);
    }

    border: 2px dashed $color-secondary-variant;
    padding: $space;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: $space-half;
  }

  &__item {
    align-items: center;
    border: 1px solid $color-primary-variant;
    display: flex;
    margin-bottom: 0.5rem;
    padding: $space-half;
    font-size: 1.5rem;

    &:hover {
      border: 1px solid #4b8930;
    }
  }


  &__item-logo {
    margin-right: $space-half;
    width: 1.5rem;
  }

  &__columnB > &__item {
    border: 1px solid #752a22;

    &:hover {
      border: 1px solid $color-secondary-variant;
    }
  }
}
